@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* colors  */

:root {
  /* primary */
  --dark-violet: hsla(300, 43%, 22%, 1);
  --pink: hsla(333, 80%, 67%, 1);
  /* secondary */
  --pinkish-gray: hsla(303, 10%, 53%, 1);
  --gray: hsla(0, 0%, 85%, 1);
  --soft-gray: hsla(301, 23%, 96%, 1);
  --bg: hsla(0, 0%, 100%, 1);
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Spartan';
  background-color: var(--bg);
  background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
  background-position: left -185px top -236px, right 10px bottom -300px;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-size: contain, contain;
}

/* headings and general text*/

h1 {
  font-weight: 800;
  font-size: 48px;
  letter-spacing: -2.5px;
  line-height: 1.1;
  color: var(--dark-violet);
  max-width: 350px;
  padding-bottom: 1.2rem;
  transition: ease-in-out 0.3s;
}

h1:hover {
  color: var(--pink);
  transition: ease-in-out 0.3s;
}

h2 {
  font-size: 13px;
  font-weight: 700;
  color: var(--dark-violet);
}

.heading p {
  font-weight: 400;
  font-size: 1rem;
  align-self: baseline;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: var(--pinkish-gray);
  max-width: 480px;
}

/* .container */

.container {
  max-width: 1110px;
  margin: 3.375rem 1.5rem;
}

/* rating section */

.product__ad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 60px;
  padding-bottom: 3rem;
}

.rating__review {
  display: flex;
  gap: 36px;
  width: 28.125rem;
  align-items: center;
  padding: 1.25rem 2rem;
  color: var(--dark-violet);
  background-color: var(--soft-gray);
  border-radius: 0.5rem;
  transition: ease-in-out 0.3s;
}

.rating__review+.rating__review {
  margin-top: 16px;
}

.rating__review:hover {
  filter: saturate(3);
  transform: translateX(-48px);
}

.star {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: ease-in-out 0.3s;
}

.star img {
  width: 0.875rem;
  height: 0.875rem;
  transition: ease-in 0.3s;
}

.margin-left--48 {
  margin-left: 3rem;
}

.margin-left--96 {
  margin-left: 6rem;
}

.margin-top--24 {
  margin-top: 2.5rem;
}

.margin-top--48 {
  margin-top: 5rem;
}

/* testimonials */

.product__testimonial {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.profile__photo img {
  display: block;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.product__testimonial__user {
  padding: 2.5rem 2.25rem;
  border-radius: 10px;
  background-color: var(--dark-violet);
  transition: ease-in-out 0.3s;
}

.product__testimonial__user:hover {
  transform: translatey(-20px);
  transition: ease-in-out 0.3s;
  filter: brightness(1.3);
  background-color: rgb(122, 8, 57);
}

.profile__info {
  display: flex;
  flex-direction: row;
  gap: 1.125rem;
}

.profile__name h3 {
  color: var(--bg);
}

.profile__name h4 {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1;
  padding-top: 0.2rem;
  color: var(--pink);
}

.product__testimonial__user p {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
  letter-spacing: -0.232143px;
  padding-top: 1.5rem;
  color: var(--bg);
}

@media (max-width: 1250px) {
  .product__ad {
    display: grid;
    grid-template-columns: 1fr;
  }

  h1,
  .heading p {
    max-width: 100%;
    margin: 0 140px;
    text-align: center;
  }

  .rating {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    /* width: 100%; */
  }

  .rating__review {
    padding: 20px 26px;
    width: 300px;
    gap: 12px;
    flex-direction: column;
  }

  .rating__review+.rating__review {
    margin-top: 0;
  }

  .margin-left--48,
  .margin-left--96 {
    margin-left: 0;
  }

  .rating__review:hover {
    transform: translateX(0px);
  }
}

@media (max-width: 1050px) {
  .rating {
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  .rating__review {
    padding: 20px 26px;
    width: 180px;
    gap: 12px;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  body {
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-position: left -24px top -5px, right -15px bottom -220px;
  }


  .container {
    margin-top: 5rem;
  }

  .heading p {
    padding-top: 0;
    margin: 12px;
  }

  .product__ad {
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .rating__review {
    width: 100%;
  }

  .product__testimonial {
    grid-template-columns: repeat(1, 1fr);
  }

  .margin-top--24,
  .margin-top--48 {
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
    line-height: 1;
    margin: 0 64px;
  }
}

@media (max-width: 300px) {
  .rating__review {
    padding: 20px 26px;
    width: 100%;
    gap: 12px;
    flex-direction: column;
  }

  .product__testimonial__user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .profile__info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }
}